{% extends 'base.html' %}

{% block content%}

<form action="" method="post">
    <div class="row mb-3">
        <label for="inputLogin" class="col-sm-2 col-form-label">Введите старый пароль</label>
        <div class="col-sm-10 input-group has-validation">
            <input type="password"
                class="form-control {% if errors.get('old') %}is-invalid{% endif %} {% if request.method == 'POST' and not errors.get('old') %}is-valid{% endif %}"
                id="floatingOldPassword" name="floatingOldPassword" value="{{ fields['old'] or '' }}"
                aria-describedby="inputGroupPrepend3 validationOldFeedback">
            {% if errors.get("old") %}
            <div id="validationOldFeedback" class="invalid-feedback">
                {{ errors.get("old") }}
            </div>
            {% endif %}
            {% if request.method == 'POST' and not errors.get("old") %}
            <div class="valid-feedback">
                Всё правильно!
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label">Введите новый пароль</label>
        <div class="col-sm-10 input-group has-validation">
            <input type="password"
                class="form-control {% if errors.get('password') %}is-invalid{% endif %} {% if request.method == 'POST' and not errors.get('password') %}is-valid{% endif %}"
                id="floatingNewPassword" name="floatingNewPassword" value="{{ fields['new'] or '' }}"
                aria-describedby="inputGroupPrepend3 validationPasswordFeedback">
            {% if errors.get("password") %}
            <div id="validationPasswordFeedback" class="invalid-feedback">
                {{ errors.get("password") }}
            </div>
            {% endif %}
            {% if request.method == 'POST' and not errors.get("password") %}
            <div class="valid-feedback">
                Всё правильно!
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputFirstName" class="col-sm-2 col-form-label">Подтвердите новый пароль</label>
        <div class="col-sm-10 input-group has-validation">
            <input type="password"
                class="form-control {% if errors.get('check') %}is-invalid{% endif %} {% if request.method == 'POST' and not errors.get('check') %}is-valid{% endif %}"
                id="floatingCheckPassword" name="floatingCheckPassword" value="{{ fields['check'] or '' }}"
                aria-describedby="inputGroupPrepend3 validationCheckFeedback">
            {% if errors.get("check") %}
            <div id="validationCheckFeedback" class="invalid-feedback">
                {{ errors.get("check") }}
            </div>
            {% endif %}
            {% if request.method == 'POST' and not errors.get("check") %}
            <div class="valid-feedback">
                Всё правильно!
            </div>
            {% endif %}
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Сохранить</button>
</form>

{% endblock %}